<%= form_for(@purchase_history) do |f| %>
  <% if @purchase_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_history.errors.count, "error") %> prohibited this purchase_history from being saved:</h2>

      <ul>
      <% @purchase_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :purchase_price %><br />
    <%= f.text_field :purchase_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
