<p id="notice"><%= notice %></p>

<p>
  <b>Symbol:</b>
  <%= @purchase_history.symbol %>
</p>

<p>
  <b>Quantity:</b>
  <%= @purchase_history.quantity %>
</p>

<p>
  <b>Purchase price:</b>
  <%= @purchase_history.purchase_price %>
</p>


<%= link_to 'Edit', edit_purchase_history_path(@purchase_history) %> |
<%= link_to 'Back', purchase_histories_path %>
