<%= simple_form_for @portfolio, :html => { :class => 'form-horizontal' } do |f| %>
  <%= form_errors(f) %>

  <legend>Add Entry to Portfolio</legend>
  <div class="control-group">
    <%= f.label :symbol, "Symbol", {:class => "control-label"} %>
    <div class="controls">
      <%= f.input :symbol %>
    </div>
  </div>
    
  <div class="control-group">
    <%= f.label :quantity, "Quantity", {:class => "control-label"} %>
    <div class="controls">
      <%= f.input :quantity %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :purchase_price, "Purchase Price", {:class => "control-label"} %>
    <div class="controls">
      <%= f.input :purchase_price %>
    </div>
  </div>  
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :value => "Create", :confirm => "Are you sure?" %>
    <%= link_to "Cancel", portfolios_path, :class=> "btn btn-danger" %>
  </div>
<% end %>